---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>about</title>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>
    <h1>about me</h1>
    <p>
      You can call me Zane. I like using code to solve problems: big and small,
      old and new, important and just for fun.
    </p>
  </body>
</html>
