---
import "../styles/global.css";
import Nav from "../components/Nav.astro";

const pageTitle = "about";
const skills = ["JavaScript", "TypeScript", "React", "CSS", "HTML"];

const skillColor = "white";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: white;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Nav />
    <h1>about me</h1>
    <p>
      You can call me Zane. I like using code to solve problems: big and small,
      old and new, important and just for fun.
    </p>
    <p>Some of my skills include:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>
