---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>blog</title>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>
    <h1>all posts</h1>
    <p>real posts coming soon!</p>
    <ul>
      <li><a href="/posts/post-1/">post 1</a></li>
      <li><a href="/posts/post-2/">post 2</a></li>
    </ul>
  </body>
</html>
