---

---

<nav class="site-nav" aria-label="Primary navigation">
  <div class="nav-group nav-left">
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>
  </div>
  <div class="nav-group nav-right">
    <a
      class="social-link"
      href="https://www.linkedin.com/in/zane-olds/"
      target="_blank"
      rel="noreferrer"
      aria-label="LinkedIn profile"
    >
      <svg class="social-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path
          fill="currentColor"
          d="M20.45 20.45h-3.56v-5.58c0-1.33-.03-3.05-1.86-3.05-1.86 0-2.14 1.45-2.14 2.95v5.68H9.34V9h3.41v1.56h.05c.47-.9 1.63-1.85 3.36-1.85 3.61 0 4.29 2.38 4.29 5.46v6.28zM5.34 7.43c-1.14 0-2.07-.93-2.07-2.06s.93-2.06 2.07-2.06c1.14 0 2.06.93 2.06 2.06s-.92 2.06-2.06 2.06zM7.12 20.45H3.56V9h3.56v11.45zM22.23 0H1.77C.79 0 0 .77 0 1.73v20.54C0 23.23.79 24 1.77 24h20.45c.98 0 1.78-.77 1.78-1.73V1.73C24 .77 23.2 0 22.22 0h.01z"
        ></path>
      </svg>
      <span>linkedin</span>
    </a>
    <a
      class="social-link"
      href="https://github.com/zaane"
      target="_blank"
      rel="noreferrer"
      aria-label="GitHub profile"
    >
      <svg class="social-icon" viewBox="0 0 24 24" aria-hidden="true">
        <path
          fill="currentColor"
          d="M12 .3a12 12 0 00-3.79 23.39c.6.11.82-.26.82-.58v-2.25c-3.34.72-4.03-1.41-4.03-1.41-.55-1.38-1.33-1.74-1.33-1.74-1.09-.74.08-.72.08-.72 1.2.09 1.83 1.23 1.83 1.23 1.07 1.83 2.81 1.3 3.49 1 .11-.78.42-1.31.77-1.62-2.67-.31-5.47-1.34-5.47-5.96 0-1.32.47-2.39 1.24-3.24-.12-.3-.54-1.52.12-3.17 0 0 1.01-.32 3.3 1.23a11.39 11.39 0 016 0c2.28-1.55 3.29-1.23 3.29-1.23.66 1.65.24 2.87.12 3.17.77.85 1.24 1.92 1.24 3.24 0 4.63-2.8 5.65-5.48 5.95.43.37.82 1.11.82 2.24v3.32c0 .32.22.7.83.58A12 12 0 0012 .3z"
        ></path>
      </svg>
      <span>github</span>
    </a>
  </div>
</nav>
